body {
  background: #858585;
}

.wrapper {
  height: 100vh;
}

.login {
  width: 500px;
  padding: 20px;
  height: min-content;
  border-radius: 10px;
  color: black;
  background-color: rgb(238, 241, 243);
  box-shadow: rgb(191 228 255) 0px 2px 4px 0px, rgb(191 228 255) 0px 2px 4px 0px;
}
